.Curiosidades {
  border-style: solid;
  border-width: 5px;
  padding: 20px;
  width: 350px;
  height: 150px;
}
body{
  margin: 20px 40px 20px 40px;
  background-color: black;
}
#Curiosidade-1 {
  margin-bottom: 40px;
  position: relative;
  float: left;
  background-color: pink;
  border-color: pink;
}
#Curiosidade-1 #texto {
  opacity: 0;
}
#Curiosidade-1:hover {
  width: 880px;
  height: 200px;
  position: relative;
  clear: right;
}
#Curiosidade-1:hover #texto {
  opacity: 1;
}
#Curiosidade-1:hover #titulo {
  opacity: 0;
  position: absolute;
}
#Curiosidade-2 {
  margin-bottom: 40px;
  position: relative;
  float: right;
  border-color: yellow;
  background-color: yellow;
}
#Curiosidade-2 #texto {
  opacity: 0;
}
#Curiosidade-2:hover {
  width: 880px;
  height: 200px;
  position: relative;
}
#Curiosidade-2:hover #Curiosidade-1 {
  position: absolute;
  opacity: 0;
}
#Curiosidade-2:hover #texto {
  opacity: 1;
}
#Curiosidade-2:hover #titulo {
  opacity: 0;
  position: absolute;
}
#Curiosidade-3 {
  margin-bottom: 40px;
 position: relative;
 float: left;
 background-color: blue;
 border-color: blue;
}
#Curiosidade-3:hover {
  width: 880px;
  height: 200px;
  position: relative;
}
#Curiosidade-3 #texto {
  opacity: 0;
}
#Curiosidade-3:hover #texto {
  opacity: 1;
}
#Curiosidade-3:hover #titulo {
  opacity: 0;
  position: absolute;
}
#Curiosidade-4{
  margin-bottom: 40px;
  position: relative;
  float: right;
  background-color: green;
  border-color: green;
}
#Curiosidade-4:hover {
  width: 880px;
  height: 200px;
  clear: left;
  position: relative;
}
#Curiosidade-4 #texto {
  opacity: 0;
}
#Curiosidade-4:hover #texto {
  opacity: 1;
}
#Curiosidade-4:hover #titulo {
  opacity: 0;
  position: absolute;
}
