/*Tabela de cores para nossos documento:
 *Obs: quando eu estiver me referindo a uma das cores abaixo, vou usar os seguintes nomes:*
  Amarelo: #FFF00A
  Azul: #00AAFF
  Verde: #AAFF01
  Roxo: #AA00FF
  Rosa: #FF00AA
  Cinza 1 (corpo principal): #121212
  Cinza 2 (segundo plano - header e footer, alguns ícones): #212121
  Cinza 3 (terceiro plano - modal): #424242
  Preto: #000000 ou 'black'
  Branco: #FFFFFF ou 'white'
*/

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap');

body, html {
  height: 100%;
}

body {
  background-color: #121212;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat:no-repeat;

  margin: 0;
  padding: 0;

  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  text-align: justify;
  color: white;
  font-family: sans-serif;
}

h1, h2, h3 {
  font-family: 'Comfortaa', cursive;
}

p {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: none;
}

header {
  height: 5%;
  width: 98%;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5% 1%;

}

#abreNav {
  background-color: #212121;
  border: none;

  font-weight: bold;
  font-size: 2em;
  height: 100%;

  transform: rotateZ(90deg);
  transition: 300ms;
  text-align: center;
  padding: 0;
  margin-left: 2%;
}

#fechaNav {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: auto;
  height: auto;
  font-size: 2em;
  align-self: flex-end;
  color: #212121;
}

nav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  left: -20%;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 2;
  color: #121212;
  padding: 2.5%;
  box-sizing: border-box;
}

nav h1, nav h2, nav h3 {
  font-size: 2.5vh;
}

nav h1 {
  padding-left: 5%;
}

nav h2 {
  padding-left: 10%;
}

nav a {
  color: #121212;
  text-decoration: none;
  margin-left: 0;

  display: block;
  margin: 0;
}

nav a:hover {
  text-decoration: underline solid #121212;
}

main {
  padding: 5% 10%;
  font-size: 1em;
  min-height: 70vh;
}

footer {
  background: #212121;
  padding: 2.5vw 7.5vw;
}

#abreAutores {
  padding: 0.5vw 1.5vw;
  border-radius: 3vw;

  color: #121212;

  transition: 300ms;
}

#abreAutores:hover {
  background-color: #121212;
  border: 1px solid #121212;
}

#fechaAutores {
  position: absolute;
  top: 1vw;
  right: 1vw;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 2em;
}

#fundoEscuro {
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  justify-content: center;
}

#autores {
  display: none;
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 20vh;
  left: 20vw;
  background-color: #424242;
  z-index: 2;
  text-align: justify;
  padding: 5vh 5vw;
}

.imgCentralizada {
  display: block;
  margin: 1% auto;
}

.imgElemento {
  float: right;
  width: 25%;
}

.logo{
  width: 8vw;
}

.video {
  border-width: 1px;
  border-style: solid;
}

.containerImgAutores {
  display: flex;
  justify-content: space-around;
}

.containerImgAutores img {
  width: 15%;
  height: 15%;
  border-radius: 100%;
}

.nomeAutor {
  width: 100%;
  height: 3vw;
  padding: 0.1vw;
  background-color: #212121;
  border-radius: 1.5vw;
  text-align: center;
  box-sizing: border-box;
}
