header {
  box-shadow: #AA00FF 0 -0.5vw 8vw;
}

#abreNav {
  color: #AA00FF;
}

nav {
  background-color: #AA00FF;
}

main > h1, main > h2, main > h3 {
  color: #AA00FF;
  text-shadow: 0 0 .1em #AA00FF;
}

#abreAutores {
  background-color: #AA00FF;
  border: 1px solid #AA00FF;
}

#abreAutores:hover {
  background-color: #121212;
  border: 1px solid #121212;
  color: #AA00FF;
}

#fechaAutores {
 color:#AA00FF;
}

.curiosidade{
  border: 1px solid #AA00FF;
  border-radius: .5vw;
  padding: 1%;
  width: 73%;
}