header{
  box-shadow: #FFF00A 0 -0.5vw 8vw;
}

#abreNav {
  color: #FFF00A;
}

nav {
  background-color: #FFF00A;
}

main > h1, main > h2, main > h3 {
  color: #FFF00A;
  text-shadow: 0 0 .1em #FFF00A;
}

main > h1{
 text-align: center; 
 padding: 3%;
}

#abreAutores {
  background-color: #FFF00A;
  border: 1px solid #FFF00A;
}

#abreAutores:hover {
  background-color: #121212;
  border: 1px solid #121212;
  color: #FFF00A;
}

#fechaAutores {
  color: #FFF00A;
}

.quadradoTeste img{
  width: 6vw;
  padding:  4vw 6vw;
  display: block;
}

.containerTestes {
  display: flex;
  justify-content: space-around;
  margin: auto 10%;
}

.quadradoTeste{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  height: 25vw;
  width: 25vw;
  border-radius: .5vw;
  border: 1px solid #FFF00A;
  color: #FFF00A;
  transition-timing-function: ease-in-out;
  transition-duration: 300ms;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.quadradoTeste h2 {
  font-size: 1vw;
}

.quadradoTeste h3 {
  font-size: 1.5vw;
}

.quadradoTeste:hover{
  color: #121212;
  background-color: #FFF00A;
  text-decoration: none;
}